.audit-detail {
  &__nav {
    margin-top: var(--pf-global--spacer--md);
    .pf-c-nav__item:first-child {
      .pf-c-nav__link {
        padding-left: 0;
        &:before {
          left: 0;
        }
      }
    }
  }
  &__executor {
    &__icon {
      margin-right: 0.5em;
      fill: var(--pf-global--Color--200);
    }
  }
  &__executor,
  &__execution-time {
    padding: 0 1em;
    .pf-c-title {
      font-weight: 400;
    }
  }
}
