.outcomes-preview {
  .outcome {
    margin-bottom: var(--pf-global--spacer--md);
    &:last-child {
      margin-bottom: 0;
    }
    &__title {
      margin-bottom: var(--pf-global--spacer--md);
    }
    &__property {
      margin-bottom: var(--pf-global--spacer--sm);
      max-width: 680px;
      &__name {
        font-weight: 600;
        padding-right: 1em;
      }
    }
    &--struct {
    }
  }
  .outcome .outcome {
    padding-left: var(--pf-global--spacer--md);
    border-left: 3px solid var(--pf-global--info-color--100);
    .outcome {
      margin-top: var(--pf-global--spacer--md);
    }
  }
  &--extended {
    .outcome .outcome {
      border-width: 6px;
      padding-left: var(--pf-global--spacer--xl);
      .outcome {
        margin-bottom: var(--pf-global--spacer--xl);
      }
    }
    .outcome-item + .outcome-item {
      .outcome-struct {
        margin-top: var(--pf-global--spacer--xl);
      }
    }
    .pf-c-card__body > .outcome {
      margin-top: 0;
    }
  }
  & > .outcome-list {
    font-size: 1.125rem;
    padding: (10/18) + em 0;
    border-bottom: 1px solid lightgray;
    &:last-child {
      border-bottom: none;
    }
  }
}

.outcome-list {
  &__title {
    margin-bottom: var(--pf-global--spacer--md);
  }
  &__items {
    list-style: none;
  }
  &__item {
    margin-bottom: var(--pf-global--spacer--md);
    background-color: #f2f2f2;
    padding: var(--pf-global--spacer--md);
    &__title {
      margin-bottom: var(--pf-global--spacer--lg);
      padding-bottom: var(--pf-global--spacer--sm);
      border-bottom: 1px solid lightgray;
    }
    .pf-l-grid__item {
      margin-bottom: var(--pf-global--spacer--sm);
    }
  }
  &__card {
    transition: box-shadow 0.15s;
    &__title {
      color: var(--pf-global--info-color--200);
    }
    .outcome__property__name {
      font-weight: 500;
      padding-right: 0.5em;
    }
  }
}
