.execution-header {
  &__uuid {
    text-transform: uppercase;
    margin-left: 16px;
  }
  &__icon {
    margin-right: 0.5em;
    fill: var(--pf-global--Color--200);
  }
  &__property {
    padding: 0 8px;
    .pf-c-title {
      font-weight: 400;
    }
  }
}
