.decision-detail-view {
  padding-bottom: var(--pf-global--spacer--xl);
  background-color: var(--pf-c-page__main-section--BackgroundColor);
  &__title {
    font-weight: 300;
  }
  &__section {
    //padding-top: var(--pf-global--spacer--xl);
    //padding-bottom: var(--pf-global--spacer--xl);
  }
  &__input-help {
    fill: var(--pf-global--info-color--100);
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.5em;
  }
  .all-features-opener {
    margin-left: var(--pf-global--spacer--md);
  }
  &__chart {
    height: 600px;
    margin: var(--pf-global--spacer--md) 0;
  }
  &__outcome-card {
    height: 100%;
    min-height: 280px;
    &--skipped {
      @extend .decision-detail-view__outcome-card;
      background-color: #f3f3f3;
    }
    &:hover {
      .decision-detail-view__explanation-link {
        visibility: visible;
      }
    }
  }
  &__explanation-link {
    visibility: hidden;
  }
  .outcome__property__name {
    white-space: nowrap;
  }
  &__big-outcome {
    font-size: 2em;
  }
  .outcome-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
