.execution-status-badge {
  border-radius: 4px;
  padding: 0.4rem 0.4rem 0.2rem;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  width: 120px;
  display: inline-block;
  &--success {
    color: var(--pf-global--success-color--200);
    background-color: var(--pf-global--success-color--100
    );
  }
  &--failure {
    color: var(--pf-global--danger-color--100);
  }
}