.explanation-view {
  padding-top: var(--pf-global--spacer--md);
  padding-bottom: var(--pf-global--spacer--lg);
  background-color: var(--pf-c-page__main-section--BackgroundColor);
  &__title {
    font-weight: 500;
  }
}