.explanation-view {
  padding-bottom: var(--pf-global--spacer--xl);
  background-color: var(--pf-c-page__main-section--BackgroundColor);
  &__title {
    font-weight: 300;
  }
  &__section {
    //padding-top: var(--pf-global--spacer--2xl);
    //padding-bottom: var(--pf-global--spacer--2xl);
  }
  &__input-help {
    fill: var(--pf-global--info-color--100);
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.5em;
  }
  .all-features-opener {
    margin-left: var(--pf-global--spacer--md);
  }
  &__chart {
    max-width: 950px;
    max-height: 600px;
    margin: var(--pf-global--spacer--md) 0;
  }
}

.container {
  margin: 0 auto;
}

@media (min-width: 2300px) {
  .container {
    max-width: 2270px;
  }
}
