.model-lookup {
  &__desc {
    margin-top: var(--pf-global--spacer--sm);
    margin-bottom: var(--pf-global--spacer--lg);
  }
}

.model-version-browser {
  &__history {
    width: 220px;
    font-family: monospace;
  }
}

.model-diagram {
  &__iframe {
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
    border-top: 2px solid lightgrey;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      margin-top: -77px;
      width: 100%;
      height: 100%;
      border-left: 2px solid lightgrey;
      border-right: 2px solid lightgrey;
      border-bottom: 2px solid lightgrey;
    }
  }
}
