.skeleton {
  &__stripe {
    width: 50%;
    height: 1.5em;
    display: block;
    background: #f6f7f8;
    background: linear-gradient(
                    to right,
                    #dddddd 8%,
                    #eeeeee 18%,
                    #dddddd 33%);
    background-size: 800px 104px;
    animation: linear 1.3s placeHolderShimmer infinite;
    &--md {
      width: 80%;
    }
    &--lg {
      width: 60%;
    }
    &--inline {
      display: inline-block;
      vertical-align: middle;
      font-size: 1em;
      line-height: inherit;
      height: 1em;
      width: 200px;
      margin: 0 10px;
    }
  }
  &__header {
    .skeleton__stripe {
      opacity: 0.7;
    }
  }
  &--padded {
    padding: 0.5em 1em;
  }
  &--lighter {
    background: linear-gradient(to right, #d5d5d5 8%, #dddddd 18%, #d5d5d5 33%);
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}