.input-browser {
  &__section-list {
    margin: var(--pf-global--spacer--md) 0 var(--pf-global--spacer--lg) 0;
    padding: var(--pf-global--spacer--sm) var(--pf-global--spacer--md);
    background-color: var(--pf-global--BackgroundColor--100);
    Button {
      margin: 6px 12px 6px 0;
    }
    &__label {
      display: block;
      width: max-content;
      margin: 6px 10px 6px 10px;
      font-weight: 700;
      padding-top: var(--pf-global--spacer--form-element);
      padding-bottom: var(--pf-global--spacer--form-element);
    }
  }
  &__browser {
    background-color: #c6c6c6;
  }
  &__distribution {
    .input-data__wrap {
      padding-top: var(--pf-c-data-list__cell-cell--PaddingTop);
      &__desc {
        bottom: 10px;
      }
    }
    &__chart {
      // the only way I found to use the negative value of a css variable was to multiply it :(
      margin-top: calc(var(--pf-c-data-list__cell-cell--PaddingTop) * -1);
    }
  }
}
