.outcomes-preview {
  .outcome {
    margin-bottom: var(--pf-global--spacer--md);
    &__title {
      margin-bottom: var(--pf-global--spacer--md);
    }
    &__property {
      margin-bottom: var(--pf-global--spacer--sm);
    }
  }
  .outcome .outcome {
    padding-left: var(--pf-global--spacer--md);
    border-left: 3px solid lightblue;
    .outcome {
      margin-top: var(--pf-global--spacer--md);
    }

  }
  & > .outcome-list {
    font-size: 1.125rem;
    padding: (10/18)+em 0;
    border-bottom: 1px solid lightgray;
    &:last-child {
      border-bottom: none;
    }
  }
}
.outcome-property {
  &__name {
    color: var(--pf-global--Color--200);
  }
}
.outcome-list {
  &__title {
    margin-bottom: var(--pf-global--spacer--md);
  }
  &__items {
    list-style: none;
  }
  &__item {
    margin-bottom: var(--pf-global--spacer--md);
    background-color: #f2f2f2;
    border-radius: 3px;
    padding: var(--pf-global--spacer--md);
    &__title {
      margin-bottom: var(--pf-global--spacer--lg);
      padding-bottom: var(--pf-global--spacer--sm);
      border-bottom: 1px solid lightgray;
    }
    .pf-l-grid__item {
      margin-bottom: var(--pf-global--spacer--sm);
    }
  }
}

.sticky-stuff {
  position: relative;
  &.is-sticky {
    overflow: hidden;
    .sticky-inner {
      position: fixed;
      top: 0;
      height: 100vh;
      overflow: auto;
    }
  }
}